<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skilful.Data.DataManConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Skilful.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Skilful.Data.DataManConfig>
            <setting name="DataSourceLibraries" serializeAs="String">
                <value />
            </setting>
        </Skilful.Data.DataManConfig>
        <Skilful.Properties.Settings>
            <setting name="AgreedWithGPL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastOpenedDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MT4Path" serializeAs="String">
                <value />
            </setting>
            <setting name="symbolsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="QuikQuotesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="QuikHistoryDir" serializeAs="String">
                <value />
            </setting>
        </Skilful.Properties.Settings>
    </userSettings>
</configuration>